[run]
omit =
    tests/*.py
    runtests.py
    dysession/logger/handler/colorful_console.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    NotImplementedError